<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  <modules>
    <remove name="UrlRoutingModule-4.0" />
    <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
  </modules>
</system.webServer>
  <connectionStrings>
    <add name="online_exam_1ConnectionString" connectionString="Data Source=DESKTOP-UE2QPGE\SQLEXPRESS;Initial Catalog=online_exam_1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
   
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
</configuration>